@charset "UTF-8";

* {
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* KaTeX以外のフォント設定 */
*:not(.katex):not(.katex *) {
    font-family: "Zen Kaku Gothic New", sans-serif;
}

p, li, a, h1, h2, h3, h4, h5, h6 {
    color: #262628;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 20px 0;
}

h1 {
    font-size: 30px;
}

h1 span {
    font-weight: 700;
}

h2 {
    color: #ffffff;
    background-color: #262628;
    padding: 5px 20px;
    width: fit-content;
}

h3 {
    font-size: 20px;
}

a {
    cursor: pointer;
}

a:hover {
    color: #878791;
}

main {
    margin: 0 auto;
    padding: 10px;
    width: 85%;
}

section {
    margin: 10px 10px 30px 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px #e5e4e4;
}

ol li {
    padding: 8px 0;
    margin-left: 20px;
}

table {
    border-collapse: collapse;
}

table caption {
    margin: 16px auto 0 auto;
}

table th {
    padding: 16px 8px;
    font-weight: bold;
}

table td {
    padding: 16px 8px;
}

tr td:first-child {
    min-width: 80px;
}

tr td:nth-child(2) {
    min-width: 100px;
}

.bold {
    font-weight: 800;
}

.marker-yellow {
    background-color: #faf3de;
}

.marker-blue {
    background-color: #e9f4f7;
}

.maker-red {
    background-color: #faedec;
}

.maker-green {
    background-color: #eef4ed;
}

.even-row-gray tr:nth-child(even) {
    background-color: #f1f1f1;
}

.odd-row-gray tr:nth-child(odd) {
    background-color: #f1f1f1;
}

.fixed-header-width th {
    white-space: nowrap;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.figure {
    text-align: center;
    margin: 16px 0;
}

.figure img{
    max-width: 600px;
}

.accordion {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 0 10px 0;
    overflow: hidden;
}

.accordion-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    font-weight: bold;
    cursor: pointer;
    list-style: none; /* デフォルトの黒い三角形を消す */
}

.accordion-header:hover {
    background-color: #f1f1f1;
}

.accordion-header::before {
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 15px; /* タイトルとの余白 */
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg); /* 右向き（＞） */
    transition: transform 0.3s ease;
}

.accordion[open] .accordion-header::before {
    transform: rotate(45deg); /* 下向き（∨）に回転 */
}

.accordion-content {
    padding: 20px;
    border-top: 1px solid #ddd;
    background-color: #fff;
}


@media screen and (max-width: 600px) {
    main {
        width: 95%;
    }

    .two-columns {
        grid-template-columns: 1fr;
    }

    .figure img {
        width: 100%;
    }
}